.circleci
.git
.github
.nyc_output
.vscode
node_modules
src
.cspell.json
.editorconfig
.eslintrc.json
.gitignore
.npmignore
.prettierignore
publish.bat
tsconfig.json
tsconfig.module.json
prj.code-workspace
CHANGELOG.md
build/main/index.spec.d.ts
build/main/index.spec.js
build/module/index.spec.d.ts
build/module/index.spec.js
benchmark
playground